body{
	background-color:#F2FFFC;
	font-family:"Crimson Text", "Times New Roman", serif;
}

h1,
h2{
	font-family:"Open Sans Condensed", "Arial", sans-serif;
}

h1{
	font-size:60px;
	background-color:#851944; /*rgb(120,30,60)*/
	color:#FFFFFF;
	text-align:center;
	
}

h2{
	font-size:40px;
}

p{
	text-align:justify;
}