body{
	background-color:#F2FFFC;
	font-family:"Crimson Text", "Times New Roman", serif;
}

h1,
h2{
	font-family:"Open Sans Condensed", "Arial", sans-serif;
}

main h1{
	font-size:60px;
	background-color:#851944; /*rgb(120,30,60)*/
	color:#FFFFFF;
	text-align:center;
}

main a{
	color:#851944;
}

h2{
	font-size:40px;
}

p{
	text-align:justify;
}

blockquote{
	background-color:#D9E5E3;
}

nav{
	background:#3C1D3D;
	color:#F2FFFC;
}

nav a{
	color:inherit;
	font-family:"Open Sans Condensed", "Arial", sans-serif;
}

footer{
	background:#000;
	color:#F2FFFC;
}