body{
	background-color:#F2FFFC;
	font-family:"Crimson Text", "Times New Roman", serif;
}

h1,
h2{
	font-family:"Open Sans Condensed", "Arial", sans-serif;
	margin:0;
}

main{
	line-height:30px;
}

main div{
	width:720px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:30px;
	margin-top:30px;
}

main h1{
	font-size:60px;
	background-color:#851944; /*rgb(120,30,60)*/
	color:#FFFFFF;
	text-align:center;
	padding:25px;
	border-bottom:10px solid #000;
}

strong{
	font-weight:bold;
}

em{
	font-style:italic;
}

main a{
	color:#851944;
}

h2{
	font-size:30px;
}

p{
	text-align:justify;
	margin:20px 0;
}

blockquote{
	background-color:#D9E5E3;
	border:10px solid #C2CCCA;
	width:250px;
	margin:20px 40px;
	box-sizing: border-box;
	border-bottom-color: #333; /*transparent - efeito interessante... A borda está lá, mas fica transparente. Parece 3D. */
    border-right-color: #FFF;
}

blockquote,
aside,
footer {
	padding:20px;
}

nav{
	background:#3C1D3D;
	color:#F2FFFC;
}

aside{
	text-align:center;
}

nav a{
	color:inherit;
	font-family:"Open Sans Condensed", "Arial", sans-serif;
}

aside h1{
	font-size:30px;
	margin-bottom:25px;
}

footer{
	background:#000;
	color:#F2FFFC;
}


/*

Desenho do símbolo de "Pausa"
#teste{
    border-left: 10px solid red;
    border-right: 10px solid red;
    width: 5px;
    height: 30px;
}

Desenho de um triângulo
#teste{
    border-bottom: 30px solid red;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    width: 0;
}

Desenho de uma gravata borboleta
#teste{
    border-left: 30px solid red;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    border-right: 30px solid red;
    width: 0;
}

Desenho de um triângulo reto
#teste{
    border-left: 30px solid red;
    border-bottom: 30px solid red;
    border-top: 30px solid transparent;
    border-right: 30px solid transparent;
    width: 0;
}

*/